{
  "TEMPLATE": "bootstrap5",
  "TITLE": "Coming Soon!",
  "SUBLINE": "We're working hard to finish the development of this site. Our target launch deadline is <strong>October 31 2025</strong>!",
  "GITHUB_URL": "https://github.com/meridianlogisticsgroup",
  "BASE_DIR": "/usr/share/nginx/html"
}